extends layout

block content
    if conf.acronym
        h1 #{conf.name + ' (' + conf.acronym + ')'}
    else
        h1 #{conf.name}

    p URL: #{conf.url}

    p
        a(href='/conf/edit/' + conf.id)
            div(class='button')
            button(type='submit') Edit
        form(method='POST', action='/conf/' + conf.id + '?_method=DELETE')
            div
                input(type='hidden', name='id', value=conf.id)
                input(type='hidden' name='_method' value='DELETE')
            div(class='button')
                button(type='submit') Delete
