extends layout

block content
  h2 Conferences and Workshops

  table(class='table table-sm table-striped')
    thead
      tr
        th(scope='col') Acronym
        th(scope='col') Conference
    tbody
      each conf, id in confs
        tr
          td(scope'row')
            a(href='conf/'+conf.id) #{conf.acronym}
          td #{conf.name}

  div
    form(method='post', action='/conf')
      div(class='input-group input-group-sm mb-3')
        span(class="input-group-text") Name:
        input#name(type='text', name='name')
        button(type='submit' class='btn btn-outline-secondary') Add
