doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    hr
    ul
      li
        a(href='/conf') Conference list
      li
        a(href='/date') Dates