extends ../layout

block content
    h1 #{conf.name}

    p
        form(method='post', action='/conf/' + conf.id + '/instance/' + instance.id + '/?_method=PUT')
            div(class='form-group row')
                label(for='year', class="col-sm-2 col-form-label") Year:
                input#year(class='form-control col-sm-10', type='number', min="2000", max="2020", name='year',
                    value=instance.year)
            div(class='form-group row')
                label(for='url', class="col-sm-2 col-form-label") URL:
                input#url(class='form-control col-sm-10', type='url', name='url',
                    value=instance.url)
            div(class='form-group row')
                button(class='btn btn-sm btn-primary mr-3', type='submit') Update
                a(href='/conf/' + conf.id + '/instance/' + instance.id, class='btn btn-sm btn-primary') Cancel
